
/*
*SECTION - HEADER
*/

/*CONFIGURACOES HEADER - bloco*/

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 2rem 9%;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.1);
}
/*CONFIGURACOES final HEADER - bloco*/

/*CONFIGURACOES HEADER - logo / icon  */
header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: #666;
}
header .logo i{
    padding-right: .5rem;
    color: var(--red);
}
/*CONFIGURACOES final HEADER - logo / icon  */

/*CONFIGURACOES HEADER - navbar  */
header .navbar a{
    font-size: 2rem;
    margin-left: 2rem;
    color: #666;
}
header .navbar a:hover{
    color: var(--red);
}
/*CONFIGURACOES final HEADER - navbar  */

/*CONFIGURACOES HEADER - #menu-bar (mobile)  */
#menu-bar{
    font-size: 3rem;
    cursor: pointer;
    color: #666;
    border: .1rem solid #ccc;
    border-radius: .3rem;
    padding: .5rem 1.5rem;
    display: none;
}
/*CONFIGURACOES final HEADER - #menu-bar (mobile)  */

